<%- include ('../partials/before-header.ejs') %>
<%- include ('../partials/header-liste.ejs') %>
<%- include ('../partials/navigation.ejs') %>

<div class="wrapper-kategori">
    <section class="sortby__menu">
        <h1 class="sortby__overskrift">AMPLIFIERS</h1>
        <div class="sortby__box">
            <form class="sortby__venstre">
                <p>
                    <label class="sortby__label-venstre">SORT BY:</label>
                    <select class="myList" id="sort">
                        <!---<option value=""></option>--->
                        <option value="price">Price</option>
                        <option value="newest">Newest</option>
                        <option value="brand">Brand</option>
                    </select>
                    <i class="sortby__arrow fa fa-arrow-up" aria-hidden="true"></i>
                </p>
            </form>
            <div class="sortby__icons">
                <p>VIEW AS:
                    <i class="sortby__icons-1 fa fa-th-large" aria-hidden="true"></i>
                    <i class="sortby__icons-2 fa fa-bars" aria-hidden="true"></i>
                </p>
            </div>
            <form class="sortby__hoejre">
                <p>
                    <label class="sortby__label-hoejre">133 Item(s) SHOW:</label>
                    <select class="myList">
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </p>
            </form>
        </div>
    </section>

    <div class="breadcrumbs">
        <a class="breadcrumbs__home">Home</a>
        <p class="breadcrumbs__seperator">/</p>
        <a class="breadcrumbs__current-category">Amplifiers</a>
    </div>

    <!-- skal laves så den henter informationer fra det nye API -->
    <aside class="shop-aside-left-top">
        <p class="shop-aside-left-top__shop-link"> <a href="" id="amp">Amplifiers</a> </p>
        <p class="shop-aside-left-top__shop-link"> <a href="" id="speak"> Speakers</a></p>
        <p class="shop-aside-left-top__shop-link"> <a href="" id="turn">Turntables</a></p>
        <p class="shop-aside-left-top__shop-link"> <a href="" id="cd">CD Players</a></p>
        <p class="shop-aside-left-top__shop-link">Streamers</p>
        <p class="shop-aside-left-top__shop-link">Cables</p>
        <p class="shop-aside-left-top__shop-link">Furniture</p>
        <p class="shop-aside-left-top__shop-link">Headphones</p>
        <p class="shop-aside-left-top__shop-link">Home Cinema</p>
        <p class="shop-aside-left-top__shop-link">Ceilling Speakers</p>
        <p class="shop-aside-left-top__shop-link">TV</p>
        <p class="shop-aside-left-top__shop-link">Vinyl</p>
        <p class="shop-aside-left-top__shop-link"> Outlet-Save</p>
    </aside>


    <!-- skal laves så den henter informationer fra det nye API -->
    <aside class="shop-aside-left-bottom">
        <p class="shop-aside-left-bottom__header">SHOP BY</p>
        <p class="shop-aside-left-bottom__filter">Filter</p>
        <p class="shop-aside-left-bottom__filter">PRICE</p>

        <p class="shop-aside-left-bottom__price-range">£0.00 - £.99 </p>
        <a class="shop-aside-left-bottom__price-range price_1">£0.00 - £799.99</a>

        <p class="shop-aside-left-bottom__filter">MANUFACTURER</p>

        <p class="shop-aside-left-bottom__manufacturers">Creek</p>
        <p class="shop-aside-left-bottom__manufacturers">Jolida</p>
        <p class="shop-aside-left-bottom__manufacturers">Harbeth</p>
    </aside>

    <!-- skal laves så den henter informationer fra det nye API og sortere/tilføjer manufactores fra det -->
    <aside class="shop-aside-right">
        <p class="shop-aside-right__manufacturer"> MANUFACTURER
        </p>
        <p class="shop-aside-right__brands">Creek</p>
        <p class="shop-aside-right__brands">Jolida</p>
        <p class="shop-aside-right__brands">Harbeth</p>
        <p class="shop-aside-right__viewAll">View All</p>
    </aside>

    <main class="thumbnail-grid">
        <!-- Indhold her til thumbnails produkter , fra javascript -->
    </main>
</div>

<%- include ('../partials/footer.ejs') %>
<script src="/assets/js/products-filter.js"></script>
<script src="/assets/js/search.js"></script>
<script src="/assets/js/thumbnails.js"></script>
<script src="/assets/js/filter.js"></script>
<%- include ('../partials/after-footer.ejs') %>