<%- include ('../partials/before-header.ejs') %>
<%- include ('../partials/header-brands.ejs') %>
<%- include ('../partials/navigation.ejs') %>

<main>

    <div class="shop-wrapper">

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/img/Shop/shop-by.jpg"
                alt="shop-by">
            <p class="shop-category__name">
                shop by brand
            </p>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/img/Shop/Amplifyers.jpg"
                alt="amplifiers">
            <a class="shop-category__name" id="amplifiers" href="">Amplifiers</a>
        </div>
        
        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/img/Shop/speaker.jpg"
                alt="speakers">
            <a class="shop-category__name" id="speakers" href="">Speakers</a>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/img/Shop/turntables.jpg"
                alt="turntables">
            <a class="shop-category__name" id="turntables" href="">Turntables</a>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/img/Shop/cd-players.jpg"
                alt="cd-players">
            <a class="shop-category__name" id="cdPlayers" href="">CD Players</a>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/img/Shop/streamer.jpg"
                alt="streamer">
            <a class="shop-category__name" href="">Streamers</a>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/img/Shop/cables.jpg"
                alt="cables">
            <a class="shop-category__name" href="">Cables</a>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/img/Shop/furniture.jpg"
                alt="furniture">
                <a class="shop-category__name" href="">Furniture</a>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/img/Shop/headphones.jpg"
                alt="headphones">
                <a class="shop-category__name" href="">Headphones</a>
        </div>

        <div class="shop-category">
            <img class="shop-category__image" src="/assets/img/Shop/home-cinema.jpg" alt="home-cinema">
            <a class="shop-category__name" href="">Home Cinema</a>
        </div>
        <div class="shop-category">
            <img class="shop-category__image" src="/assets/img/Shop/outlet.jpg" alt="outlet">
            <a class="shop-category__name" href="">outlet - save up to 50% off</a>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/img/Shop/ebay.jpg" alt="ebay">
            <a class="shop-category__name" href="">Ebay Shop</a>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/img/Shop/Ceiling-Speakers.jpg"
                alt="ceiling-speakers">
                <a class="shop-category__name" href="">Ceiling Speakers</a>
        </div>

        <div class="shop-category">
            <img class="shop-category__image" src="/assets/img/Shop/Tvs.jpg" alt="tvs">
            <a class="shop-category__name" href="">Tvs</a>
        </div>
        <div class="shop-category">
            <img class="shop-category__image" src="/assets/img/Shop/Vinyl-LPS.jpg" alt="vinyl-lps">
            <a class="shop-category__name" href="">Vinyl-LPS</a>
        </div>

        <div class="shop-category">
            <img class="shop-category__image" src="/assets/img/Shop/shop-now.png" alt="show-now">
            <p class="shop-category__name shop-category__name_button">
                <a class="shop-category__name_link" href="/kategori-liste">shop now</a>
            </p>
        </div>

    </div>

</main>


<%- include ('../partials/footer.ejs') %>
<%- include ('../partials/after-footer.ejs') %>